# ignore npm related files
**/node_modules
**/package-lock.json

# ignore terraform secrets
**/*.tfvars
**/*.tfstate
**/*.tfstate.backup
**/.terraform.lock.hcl
**/.terraform/

# ignore .env
**/.env
.env
